.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  text-align: center;
  background-color: #dfe5d4;
}

.mainview {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 10%; 
  flex-grow: 1;
  background-color: #e9efdd;
}

.taskview {
  flex-basis: 90%; 
  flex-grow: 1;
  background-color: #f2f4ef;
  display: flex;
  flex-direction: column;
}

.tasks {
  flex-basis: 90%;
  flex-grow: 1;
}

.task-form {
  flex-basis: 10%;
  flex-grow: 1;
}