.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  text-align: center;
  background-color: #dfe5d4;
}

.mainview {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 10%; 
  flex-grow: 1;
  background-color: #e9efdd;
}

.taskview {
  flex-basis: 90%; 
  flex-grow: 1;
  background-color: #f2f4ef;
  display: flex;
  flex-direction: column;
}

.thingview {
  flex-basis: 90%; 
  flex-grow: 1;
  background-color: #f2f4ef;
  display: flex;
  flex-direction: column;
}

.tasks {
  margin-left: 1%;
  margin-top: 1%;
  /* flex-basis: 90%; */
  /* flex-grow: 1; */
}

.task-form {
  /* flex-basis: 10%;
  flex-grow: 1; */
}

.task-container {
  display: flex;
  flex-direction: row;
}

.task {
  flex-grow: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  font-size: 14px;
  padding: 3px 0 3px 0;
  display:flex;
  flex-direction: row;
}

.task-focused {
  background-color: #DDD;
}

.task-is-done {
  text-decoration: line-through;
}

.task-line-container {
  width: 10px;
}

.task-line-border {
  width: 3px;
  height: 100%;
  padding: 0;
  margin: 0;
  border-right-color: #CCC;
  border-right-width: 1px;
  border-right-style: solid;
}

.task-spacer {
  flex-grow: 1;
}

.task-buttons button {
  font-size: 9px;
  height: 100%;
}

.task-children-badge {
  font-size: 9px;
}